@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: #383838;
    background-color: #F9F8FF;
}

h1 {
    margin: 0;
}



.container {
    width: 100%;
    max-width: 568px;
    margin: 0 auto;
}

.main-items {
    padding: 3em 1em;
}

#feed {
    padding: 1em;
    background: #F9F8FF;
}

.title {
    margin-bottom: 0.75em;
}

textarea {
    background: #FFFDFD;
    resize: none;
    border: none;
    padding: 7.5px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Inter';
    box-sizing: border-box;
    border-radius: 4.5px;
    color: #383838;
}

#comment-el {
    height: 150px;
    width: 100%;
    margin-bottom: 1em;
}

#name-el {
    width: 60%;
    height: 100%;
}

button {
    width: 35%; 
    height: 100%;
    padding: 0.75em 1em;  
    border-radius: 4.5px;
    letter-spacing: 0.9px;
    border: none;
    font-size: 1rem;
    background: #424FC5;
    color: #FFFDFD;
    box-shadow: 0px 2.79925px 8.39775px rgba(0, 0, 0, 0.1), 0px 2.79925px 5.5985px rgba(0, 0, 0, 0.06);
}

button:hover {
    background: #343e9a;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.comment {
    width: 100%;
    border-bottom: 1px solid #CACACA;
    padding: 1em 0;
}

.comment h3 {
    font-size: 24px;
}

.comment p {
    font-size: 24px;
    color: #6B7280;
    word-wrap: break-word;
}

